@import url("https://fonts.googleapis.com/css?family=Open+Sans:300, 400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Whisper&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.theme--light {
  --back: #dfdfec;
  --element: linear-gradient(45deg, #bfbfd9, #fff);
  --shadow: #bfbfd9;
  --pils-back: rgba(0, 0, 0, 0.05);
  --text-primary: #333;
  --text-secondary: #555;
  --text-third: #000;
  --text-cv: #1a53ff;
}

.theme--dark {
  --back: #131417;
  --element: linear-gradient(45deg, #101010, #2c3e50);
  --shadow: #3f5973;
  --pils-back: rgba(255, 255, 255, 0.05);
  --text-primary: white;
  --text-secondary: #6b8cae;
  --text-third: #777;
  --text-cv: #ef5350;
}

input[type=checkbox] {
  z-index: -1;
  display: none;
}

a:visited, a:link {
  text-decoration: none;
}

html, body {
  background: var(--back);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

#container {
  position: relative;
  background: var(--element);
  box-shadow: 5px 5px 5px -4px rgba(1, 0, 0, 0.9);
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.6s;
  transform: scale(0.6);
  animation: fade_in 1s forwards;
  opacity: 0;
}
#container .header {
  position: absolute;
  width: 100%;
  height: 65px;
  z-index: 50;
}
#container .header .night-mode {
  position: absolute;
  right: 0;
  text-align: center;
  margin: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
#container .header .night-mode:hover {
  background: rgba(100, 100, 100, 0.1);
}
#container .header .night-mode:active {
  background: rgba(100, 100, 100, 0.3);
}
#container .header .night-mode i {
  line-height: 45px;
  color: var(--text-primary);
  font-size: 16px;
}
#container .left-section {
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 20px;
}
#container .left-section .profile-pic {
  width: 140px;
  flex-basis: 140px;
  flex-shrink: 0;
  /* border-radius: 50%; */
  /* box-shadow: inset 0 0 10px 6px rgba(0, 0, 0, 0.2); */
}
#container .left-section .profile-details {
  margin-left: 20px;
}
#container .left-section .profile-details .profile-name {
  color: var(--text-primary);
  font-size: 1.35rem;
  padding-bottom: 10px;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  /* font-weight: 100; */
  font-style: normal;
}
#container .left-section .profile-details .profile-maps {
  display: block;
  color: var(--text-third);
  font-size: 1rem;
}
#container .left-section .profile-details .profile-maps i {
  color: var(--text-third);
  font-size: 0.8rem;
}
#container .left-section .profile-details .profile-summary {
  color: var(--text-secondary);
  font-size: 0.925rem;
}

.profile-details .two {
  font-family: "Poppins", serif;
  /* font-weight: 100; */
  font-style: italic;
  /* font-size: 20px; */
}

#container .left-section .profile-details .profile-cv {
  display: block;
  margin-top: 20px;
  color: var(--text-cv);
  font-weight: 700;
}

.profile-pils {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.profile-pils .pils {
  background: var(--pils-back);
  box-shadow: inset 0 0 0 1px var(--border), 0 10px 30px -10px rgba(0, 0, 0, 0.12);
  border-radius: 60px;
  font-size: 13px;
  transition: all 0.3s;
  cursor: pointer;
  margin: 15px;
  color: var(--text-primary);
}
.profile-pils .pils a, .profile-pils .pils a:visited, .profile-pils .pils a:link {
  display: block;
  text-decoration: none;
  color: var(--main-2-fore);
  padding: 5px 10px;
}
.profile-pils .pils a i, .profile-pils .pils a:visited i, .profile-pils .pils a:link i {
  padding-right: 50px;
}
.profile-pils .pils:nth-child(1):hover {
  box-shadow: inset 0 0 0 1px green, 0 10px 35px -10px green;
  color: green;
}
.profile-pils .pils:nth-child(1):hover i {
  color: green;
}
/* .profile-pils .pils:nth -child(2):hover {
  box-shadow: inset 0 0 0 1px #fff, 0 10px 30px -10px rgba(100, 100, 100, 0.6);
} */
.profile-pils .pils:nth-child(2):hover i {
  color: #fff;
}
.profile-pils .pils:nth-child(3):hover {
  box-shadow: inset 0 0 0 1px #f154ff, 0 10px 35px -10px rgba(255, 59, 245, 0.5);
}
.profile-pils .pils:nth-child(3):hover i {
  color: #f154ff;
}
.profile-pils .pils:nth-child(4):hover {
  box-shadow: inset 0 0 0 1px #163ca3, 0 10px 30px -10px rgba(13, 60, 121, 0.5);
}
.profile-pils .pils:nth-child(4):hover i {
  color: #163ca3;
}







/* .profile-pics {
  position: fixed; 
  bottom: 10px;    
  right: 10px;     
  z-index: 10;     
  display: block;  
} */
.btn {
  background: #49D75C;
  border: 0px solid #49D75C;
  border-radius: 35px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: all .25s ease;
  width: 60px;
  position: relative;
  height: 60px;
  overflow: hidden;
}
.btn:not(.loading):hover {
  box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
}
.btn:not(.loading):hover i {
  transform: translate(0px);
}
.btn i {
  font-size: 1.45rem;
  position: absolute;
  left: 0px;
  pointer-events: none;
  z-index: 10;
  background: inherit;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .25s ease;
}
.btn .text {
  width: 0px;
  display: block;
  position: relative;
  pointer-events: none;
  transition: all .25s ease;
  position: absolute;
  left: 0;
}
.loading-animate {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  transition: all .25s ease;
}
.loading-animate:after {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: loading infinite .8s ease .05s;
  position: absolute;
}
.loading-animate:before {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-left: 3px solid #fff;
  animation: loading infinite .8s linear;
  position: absolute;
  opacity: .6;
}
.btn.loading {
  width: 60px;
}
.btn.loading i {
  transform: rotate(-315deg);
  padding-bottom: 4px;
  padding-left: 3px;
}
.btn.loading .text {
  transform: translate(-140px);
}
.btn.loading .loading-animate {
  opacity: 1;
}
@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}











@media (min-width: 768px) {
  #container {
    width: 540px;
    height: 300px;
  }
  #container .left-section {
    width: 100%;
    flex-direction: row;
  }
  .profile-pic {
    margin: 0 15px;
  }
  .profile-details {
    flex-basis: 400px;
  }
  .profile-details .one {
    letter-spacing: 3px;
  }
  .profile-pils {
    justify-content: flex-end;
    margin: 0px 10px;
    flex-basis: 240px;
  }
  .btn.whatsapp-btn {
    position: fixed;
    bottom: 20px;  /* Espacio desde la parte inferior */
    right: 20px;   /* Espacio desde la parte derecha */
    z-index: 1000; /* Para que esté siempre visible */
  }
}
@keyframes fade_in {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 767px) {
  #container {
    width: 100%;
    height: auto;
    transform: scale(1);
    margin: 10px;
  }
  #container .left-section {
    flex-direction: column;
    align-items: center;
  }
  #container .profile-pic {
    width: auto;
    max-width: 140px;
    height: auto;
    max-height: 80px;
    margin-bottom: 15px;
  }
  #container .profile-details {
    text-align: left;
    margin-left: 0;
  }
  #container .profile-details .one {
    letter-spacing: 3px;
  }
  #container .profile-cv {
    text-align: left;
    margin-left: 0;
  }
  #container .profile-pils {
    justify-content: center;
    margin-top: 20px;
  }
  .profile-pics .btn {
    left: 145px;
  }
  /* .profile-pics .btn:hover {
    box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
  } */
}

.custom-fade-out {
  opacity: 1;
  animation: fadeOutEffect 2s ease forwards;
}

@keyframes fadeOutEffect {
  0% {
    opacity: 1;
    color: #000; /* Comienza negro */
    transform: translateY(0); /* Posición inicial */
  }
  100% {
    opacity: 0;
    color: #ff0000; /* Cambia a rojo mientras se desvanece */
    transform: translateY(-40px); /* Se mueve hacia arriba */
  }
}

/*# sourceMappingURL=main.css.map */

